<div>
    <h4>{{ (index+1)+') ' + questions[index].TITULO_PREGUNTA }} </h4>

    <p>{{ type }}</p>

    <div layout="row" class="qbody">
        <div ng-if="questions[index].MATERIAL" flex>
            <h4>Material:</h4><br>
            <p>
                {{ questions[index].MATERIAL }}
            </p>
        </div>

        <div ng-if="questions[index].staticInstructions || questions[index].dynamicInstructions" flex>

            <div ng-if="questions[index].staticInstructions">
                <h4>Intrucciones:</h4>
                <p>
                    {{ questions[index].INSTRUCCION }}
                </p>
            </div>

            <div ng-if="questions[index].dynamicInstructions">
                <h4>Intrucciones:</h4><br>
                <p>
                    <md-input-container ng-if="!cleanSelect">
                        <label>Mostrar</label>
                        <md-select ng-model="instructionIndex" ng-change="changeInstruction(instructionIndex)">
                            <md-option ng-value="$index" ng-repeat="item in questions[index].dynamicInstructions">
                                {{item.label}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </p>
            </div>
        </div>

        <div flex>
            <h4> Criterio de aceptación:</h4>
            <p>
                {{ questions[index].CRITERIO_ACEPTACION }}
            </p>
        </div>
    </div>
    <div layout="row" ng-if="questions[index].ap">
        <div flex="20" ng-repeat="item in questions[index]."><img ng-src="{{  }}" alt=""></div>
    </div>
</div>

